/* Tema claro */
:root {
    --body-bg-color: #f8f9fa;
    --body-text-color: #212529;
  }
  
  /* Tema oscuro */
  .dark-theme {
    --body-bg-color: #121212;
    --body-text-color: #e0e0e0;
  }
  
  /* Aplicar estilos generales */
  body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  